/* Smaller font?
$v-font-size: 12px;
$v-font-family: sans-serif; */

$v-background-color: hsl(210deg, 0%, 97%);
/*$v-focus-color: #006B52;*/
/*$v-focus-color: #4285F4;*/
/*$valo-menu-background-color: hsl(218, 20%, 98%);*/
$v-focus-style: none;

@import "../valo/valo";
@import "addons.scss";

.kuori {
  @include valo;
  @include addons;

  .toolbar-area {
    border-bottom: valo-border($color: $v-background-color, $strength: 0.4, $border: first-number($v-border) solid v-tone);
  }

  .v-csslayout-custom-empty-view {
    width: 100%;
    height:100%;
    margin:0 !important;
    max-width: inherit !important;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAQnAAAEHUBqXFykQAAAHFJREFUWIXtljEOwDAIA03ewv/fwEMY+Uc6Vd0KDak61LdkMrEsGQE0cPfZ0ZvZHG9+UNHfGlBV6Rio6JkAExjA5fTpe9LVL8M9kMEWMIGKXrZ1coGI6A3gHshgC5gA74EM7oHUABP4RQJiZp/dAwBwAKqF6REMyd0uAAAAAElFTkSuQmCC) repeat;
    padding: 20px;
    font-weight: bold;
  }

  .custom-empty-component {
    margin:0 !important;
    max-width: inherit !important;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAQnAAAEHUBqXFykQAAAHFJREFUWIXtljEOwDAIA03ewv/fwEMY+Uc6Vd0KDak61LdkMrEsGQE0cPfZ0ZvZHG9+UNHfGlBV6Rio6JkAExjA5fTpe9LVL8M9kMEWMIGKXrZ1coGI6A3gHshgC5gA74EM7oHUABP4RQJiZp/dAwBwAKqF6REMyd0uAAAAAElFTkSuQmCC) repeat;
    font-weight: bold;
    border: 1px solid #c00;
    color: #c00;
  }
}
