
.valo .x-icon-button.v-button:focus:after {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.valo .x-icon-button.v-button:focus .v-button-caption {
    background-color: #e8e8e8;
}

.valo .x-icon-button.v-button.icon-size-32 img.v-icon {
    height: 32px;
    width: auto;
}
