
.ui-header-area {
    padding: 0;
    height: auto;
    background-color: #e8e8e8;
    border-bottom: solid 1px #ccc;
}

.bgcolor-aqua {
    background-color: aqua;
}

.bgcolor-blue {
    background-color: blue;
}

.bgcolor-gren {
    background-color: lime;
}

.bgcolor-magenta {
    background-color: magenta;
}

.bgcolor-red {
    background-color: red;
}

.bgcolor-yellow {
    background-color: yellow;
}

.ui-header-logo {
    height: 56px;
    /*padding: 0 8px;*/
    background: url(/VAADIN/~/system/default-logo.png) no-repeat 18px center;
}

.ui-header-search {
    /* nothing */
}

.ui-header-user {
    /*margin: 0 8px;*/
}

.ui-toolbar-area {
    padding: 8px 0;
    height: auto;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
}

.ui-toolbar-area-home {
    padding: 0 8px;
}

.ui-toolbar-spacer {
    margin-right: 8px;
}

.panel-caption-only {
    border: 0 !important;
    border-radius: 0 !important;
}

.fancy-grid-background {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAQnAAAEHUBqXFykQAAAHFJREFUWIXtljEOwDAIA03ewv/fwEMY+Uc6Vd0KDak61LdkMrEsGQE0cPfZ0ZvZHG9+UNHfGlBV6Rio6JkAExjA5fTpe9LVL8M9kMEWMIGKXrZ1coGI6A3gHshgC5gA74EM7oHUABP4RQJiZp/dAwBwAKqF6REMyd0uAAAAAElFTkSuQmCC) repeat;
}

.v-csslayout-custom-empty-view {
    width: 100%;
    height:100%;
    margin:0 !important;
    max-width: inherit !important;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAQnAAAEHUBqXFykQAAAHFJREFUWIXtljEOwDAIA03ewv/fwEMY+Uc6Vd0KDak61LdkMrEsGQE0cPfZ0ZvZHG9+UNHfGlBV6Rio6JkAExjA5fTpe9LVL8M9kMEWMIGKXrZ1coGI6A3gHshgC5gA74EM7oHUABP4RQJiZp/dAwBwAKqF6REMyd0uAAAAAElFTkSuQmCC) repeat;
    padding: 20px;
    font-weight: bold;
}

.custom-empty-component {
    margin:0 !important;
    max-width: inherit !important;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAQnAAAEHUBqXFykQAAAHFJREFUWIXtljEOwDAIA03ewv/fwEMY+Uc6Vd0KDak61LdkMrEsGQE0cPfZ0ZvZHG9+UNHfGlBV6Rio6JkAExjA5fTpe9LVL8M9kMEWMIGKXrZ1coGI6A3gHshgC5gA74EM7oHUABP4RQJiZp/dAwBwAKqF6REMyd0uAAAAAElFTkSuQmCC) repeat;
    font-weight: bold;
    border: 1px solid #c00;
    color: #c00;
}

/* Remove the focus halo from search tool */
.valo .invisible-focus.v-button:focus:after,
.valo .invisible-focus.v-filterselect input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c5c5c5;
}

.v-widget.login-wallpaper {
    background: url(/VAADIN/~/system/login-wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
