
.x-container-tree-renderer {
    min-width: 100%;
}

.valo .x-container-tree-renderer .v-tree-node-focused:after {
    opacity: 1;
    border: none;
    background-color: #e8e8e8;
    border-radius: 0;
}

.x-container-tree-renderer .v-tree-node img.v-icon {
    height: 21px;
    vertical-align: text-bottom;
}
